extends _pug-includes/layout.pug

block vars
    - var active = 'detail'  
    - var current = 'detail-3.html'
    - var photoSwipe = true
    - var imageZoom = true
    - var quickViewModal = true;

block content

    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Tops and Jackets', link: 'category-full.html'})
    - breadcrumbs.push({name: 'Modern Jacket'})  
    
    - var images = []
    - images.push({image: 'img/product/detail-3-gray.jpg', caption: '', width: '1200', height: '1200'})        
    - images.push({image: 'img/product/detail-1-gray.jpg', caption: '', width: '1200', height: '1200'})
    - images.push({image: 'img/product/detail-2-gray.jpg', caption: '', width: '1200', height: '1200'})
    - images.push({image: 'img/product/detail-4-gray.jpg', caption: '', width: '1200', height: '1200'})    
    - images.push({image: 'img/product/detail-5-gray.jpg', caption: '', width: '1200', height: '1200'}) 
    - images.push({image: 'img/product/detail-6.jpg', caption: '', width: '1200', height: '1200'}) 

    section
        .container.pt-5
            
            include _pug-includes/inc-detail-alert.pug

            ul(class=`breadcrumb ${breadcrumbClass}`)
                each val in breadcrumbs
                    if (val.link)
                        li.breadcrumb-item
                            a(href=val.link) #{val.name}
                    else
                        li.breadcrumb-item.active #{val.name}    

            .row
                .col-lg-7.order-2.order-lg-1
                    .detail-carousel

                        .product-badge.badge.badge-primary Fresh
                        .product-badge.badge.badge-dark Sale

                        .swiper-container.detail-slider.photoswipe-gallery#detailSlider
                            // Additional required wrapper
                            .swiper-wrapper
                                // Slides
                                each val, index in images
                                    - var number = index + 1
                                    .swiper-slide                        
                                        a.btn.btn-photoswipe(href=val.image, data-caption=`Push-up Jeans ${number} - Caption text`, data-toggle="photoswipe", data-width=val.width, data-height=val.height) 
                                            +svgIcon('expand-1','svg-icon-heavy')
                                        div(data-toggle="zoom", data-image=val.image)
                                            img.img-fluid(src=val.image, alt=`Push-up Jeans ${number}`)

            
                    .swiper-thumbs(data-swiper="#detailSlider")
                        each val, index in images
                            - activeClass = 0
                            if (index == 0) 
                                -activeClass = 'active'
                            
                            button.swiper-thumb-item.detail-thumb-item.mb-3(class=activeClass)
                                img.img-fluid(src=val.image, alt=`Push-up Jeans ${index}`)      
    
                .col-lg-5.pl-lg-4.order-1.order-lg-2

                        include _pug-includes/inc-detail-main.pug

    include _pug-includes/inc-detail-tabs.pug
    
    include _pug-includes/inc-similar.pug
    
