

// Invoice Address

h3.mb-4  Invoice address                    

.row

    - var fields = []
    - fields.push({name: 'Full Name', columns: 6, placeholder: 'Joe Black'})
    - fields.push({name: 'Email Address', columns: 6, placeholder: 'joe.black@gmail.com'})
    - fields.push({name: 'Street', columns: 6, placeholder: '123 Main St.'})
    - fields.push({name: 'City', columns: 6, placeholder: 'City'})
    - fields.push({name: 'ZIP', columns: 6, placeholder: 'Postal code'})
    - fields.push({name: 'State', columns: 6, placeholder: 'State'})
    - fields.push({name: 'Phone Number', columns: 6, placeholder: 'Phone Number'})

    - var suffix = 'invoice'

    each val, index in fields
        - var id = val.name.replace(' ','').toLowerCase() + '_' + suffix
        div(class=`form-group col-md-${val.columns}`)
            label.form-label(for=id) #{val.name}
            input.form-control(type="text", name=id, placeholder=val.placeholder, id=id)

    .form-group.col-12.mt-3
        .custom-control.custom-checkbox
            input.custom-control-input(id="show-shipping-address", type="checkbox", name="clothes-brand")
            label.custom-control-label.align-middle(for='show-shipping-address',data-toggle="collapse", data-target="#shippingAddress") Use a different shipping address
        
// /Invoice Address

// Shippping Address
.collapse#shippingAddress
    
    h3.my-4 Shipping address 

    .row
        - var fields = []
        - fields.push({name: 'Street', columns: 6, placeholder: '123 Main St.'})
        - fields.push({name: 'City', columns: 6, placeholder: 'City'})
        - fields.push({name: 'ZIP', columns: 6, placeholder: 'Postal code'})
        - fields.push({name: 'State', columns: 6, placeholder: 'State'})
        - fields.push({name: 'Phone Number', columns: 6, placeholder: 'Phone Number'})

        - var suffix = 'shipping'

        each val, index in fields
            - var id = val.name.replace(' ','').toLowerCase() + '_' + suffix
            div(class=`form-group col-md-${val.columns}`)
                label.form-label(for=id) #{val.name}
                input.form-control(type="text", name=id, placeholder=val.placeholder, id=id) 
// /Shipping Address