section.mt-5
    .container
        ul.nav.nav-tabs.flex-column.flex-sm-row(role='tablist')
            li.nav-item
                a.nav-link.detail-nav-link.active(data-toggle='tab', href='#description', role='tab') Description
            li.nav-item
                a.nav-link.detail-nav-link(data-toggle='tab', href='#additional-information', role='tab') Additional Information
            li.nav-item
                a.nav-link.detail-nav-link(data-toggle='tab', href='#reviews', role='tab') Reviews

        .tab-content.py-4
            #description.tab-pane.fade.show.active.px-3(role='tabpanel')
                .row
                    .col-md-7
                        h5 About
                        p.text-muted #{dummyText[3]}
                        p.text-muted #{dummyText[4]}
                        
                        h5 You will love

                        ul.text-muted 
                            li He must have tried it a hundred times
                            li shut his eyes so that he wouldn't have to look
                            li at the floundering legs, and only stopped
                    .col-md-5
                        img.img-fluid(src="img/product/detail-3.jpg", alt="")
                
            #additional-information.fade.tab-pane(role='tabpanel')
                - var additional = []
                - additional.push({name: 'Product #', value: 'Lorem ipsum dolor sit amet'})
                - additional.push({name: 'Available packaging', value: 'LOLDuis aute irure dolor in reprehenderit'})
                - additional.push({name: 'Weight', value: 'dolor sit amet'})
                - additional.push({name: 'Sunt in culpa qui', value: 'Lorem ipsum dolor sit amet'})

                - var additional2 = []
                - additional2.push({name: 'Weight', value: 'dolor sit amet'})
                - additional2.push({name: 'Sunt in culpa qui', value: 'Lorem ipsum dolor sit amet'})                
                - additional2.push({name: 'Product #', value: 'Lorem ipsum dolor sit amet'})
                - additional2.push({name: 'Available packaging', value: 'LOLDuis aute irure dolor in reprehenderit'})

                .row
                    .col-lg-6
                        table.table.text-sm
                            tbody
                                each val,index in additional
                                    - var cellClass = '' 
                                    if (index == 0)
                                        - var cellClass = 'border-0' 
                                    tr
                                        th(class="font-weight-normal " + cellClass) #{val.name}
                                        td(class="text-muted " + cellClass) #{val.value}
                    .col-lg-6
                        table.table.text-sm
                            tbody
                                each val,index in additional2
                                    - var cellClass = '' 
                                    if (index == 0)
                                        - var cellClass = 'border-0' 
                                    tr
                                        th(class="font-weight-normal " + cellClass) #{val.name}
                                        td(class="text-muted " + cellClass) #{val.value}                           
                                    
            #reviews.tab-pane.fade(role='tabpanel')
                - var reviews = []
                - reviews.push({name: 'Han Solo', role: 'founder', image: 'img/avatar/person-1.jpg', date: 'Dec 2018', stars: 5})
                - reviews.push({name: 'Luke Skywalker', role: 'CTO', image: 'img/avatar/person-2.jpg', date: 'Dec 2018', stars: 4})
                - reviews.push({name: 'Princess Leia', role: 'Team Leader', image: 'img/avatar/person-3.jpg', date: 'Dec 2018', stars: 3})
                - reviews.push({name: 'Jabba Hut', role: 'Lead developer', image: 'img/avatar/person-4.jpg', date: 'Dec 2018', stars: 5})
                
                - stars = [1,2,3,4,5]

                .row.mb-5
                    .col-lg-10.col-xl-9
                        each val, index in reviews
                            .media.review
                                .text-center.mr-4.mr-xl-5
                                    img.review-image(src=val.image, alt=val.name)
                                    span.text-uppercase.text-muted #{val.date}
                                .media-body
                                    h5.mt-2.mb-1 #{val.name}
                                    .mb-2
                                        for star, starIndex in stars
                                            if (starIndex + 1 <= val.stars)
                                                i.fa.fa-xs.fa-star.text-warning
                                            else
                                                i.fa.fa-xs.fa-star.text-gray-200
                                    p.text-muted #{dummyText[index]}     

                        
                        .py-5.px-3
                            h5.mb-4 Leave a review

                            form.mb-4(id="reviewForm", method="post", action="contact.php",class="form")
                                .row
                                    .col-sm-6
                                        .form-group
                                            label.form-label(for="name") Your name *
                                            input(type="text", name="name", id="name", class="form-control", placeholder="Enter your name", required="required")
                                    .col-sm-6
                                        .form-group
                                            label.form-label(for="rating") Your rating *
                                            select.custom-select.focus-shadow-0(name="rating", id="rating")
                                                option(value='5') &#9733;&#9733;&#9733;&#9733;&#9733; (5/5)
                                                option(value='4') &#9733;&#9733;&#9733;&#9733;&#9734; (4/5)
                                                option(value='3') &#9733;&#9733;&#9733;&#9734;&#9734; (3/5)
                                                option(value='2') &#9733;&#9733;&#9734;&#9734;&#9734; (2/5)
                                                option(value='1') &#9733;&#9734;&#9734;&#9734;&#9734; (1/5)

                                .form-group
                                    label.form-label(for="emailReview") Your email *
                                    input(type="email", name="email", id="emailReview", class="form-control", placeholder="Enter your  email", required="required")
                                .form-group
                                    label.form-label(for="reviewReview") Review text *
                                    textarea(rows="4", name="review", id="reviewReview", class="form-control", placeholder="Enter your review", required="required")
                                
                                button(type="submit", class="btn btn-outline-dark") Post review

                            p.text-muted.text-sm <span class="badge badge-info">Note</span> This form shows usage of the classic Bootstrap form controls, not their underlined variants. You can choose whichever variant you want.